@font-face {
    font-family: 'Segoe_Regular';
    src: url("../assets/Segoe/Regular.woff") format("woff");
}
@font-face {
    font-family: 'Segoe_Light';
    src: url("../assets/Segoe/Light.woff") format("woff");
}
@font-face {
    font-family: 'Segoe_Bold';
    src: url("../assets/Segoe/Bold.woff") format("woff");
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

.container {
    background-color: #142D4C;
    background: linear-gradient(160deg, #142D4C -1%, #435AB6 53%);
    min-width: 100vw;
    min-height: 100vh;
    position: absolute;
    z-index: -1;
}
    
.email-form {
    margin: 26px auto;
    input::placeholder {
        color: #9fa3a7;
        font-family: 'Segoe_Regular';
        font-size: 16px;
    }
    .email-input {
        box-sizing: border-box;
        width: 188px;
        height: 45px;
        border: none;
        border-radius: 8px 0 0 8px;
        padding: 13px 0 11px 11px;
        vertical-align: top;
    }
    .email-button {
        box-sizing: border-box;
        width: 92px;
        height: 45px;
        background-color: #f05638;
        color: #ffffff;
        font-family: 'Segoe_Bold';
        font-size: 14px;
        letter-spacing: 2.8px;
        border: none;
        border-radius: 0 8px 8px 0;
    }
}

h3 {
    width: 280px;
    color: #ffffff;
    font-family: 'Segoe_Light';
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    letter-spacing: 0;
    margin: 14px 0 9px 20px;
}

.header {
    padding-top: 40px;
}

.hero-left {
    padding-top: 9px;
}

.logo {
    width: 132px;
    height: 42px;
    object-fit: contain;
}

p {
    width: 280px;
    color: #ffffff;
    opacity: 0.7;
    font-family: 'Segoe_Regular';
    font-size: 16px;
    line-height: 24px;
    margin: 9px auto;
}

.phones-mobile {
    width: 221px;
    height: 184px;
    object-fit: contain;
}

@media (min-width: 1000px){

    body {
        text-align: left;
    }

    .container {
        min-height: 759px;
        max-height: 759px;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 2fr;
        grid-template-areas: 
        "hero-left header"
        "hero-left hero-right";
    }

    .header {
        grid-area: header;
        padding-top: 0;
        .logo {
            padding: 164px 0 0 167px;
        }
    }

    .hero-left {
        grid-area: hero-left;
        padding-top: 74px;
        padding-left: 274px;
    }

    .hero-right {
        grid-area: hero-right;
        padding-left: 167px;

        h3 {
            width: 645px;
            margin: -19px 0 0 0;
            font-size: 48px;
            font-weight: 100;
            line-height: 58px;
        }

        p {
            width: 645px;
            margin: 30px 0 48px 0;
            font-size: 24px;
            line-height: 34px;
        }
    }
    .phones-mobile {
        width: 374px;
        height: 732px;
    }

    .email-form {

        input::placeholder {
            font-size: 20px;
        }

        .email-input {
            width: 298px;
            height: 55px;
            padding: 21px 0 16px 20px;
        }

        .email-button {
            width: 122px;
            height: 55px;
        }
    }
}
